<!DOCTYPE html>
<html>
<head>
    <title>Shopping / To-Do List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


{% include "header.html" %}

<h2>
    Hi {{ current_user }} !
    Please select functionality you want to use from the list below:
</h2>

<a href="todo_tasks.html"><img src="../static/img/todo.ico"  width="150px" alt="To-Do"></a>
<a href="shoping_tasks.html"><img src="../static/img/shopping.ico"  width="150px" alt="Shoping"></a>
<a href="vacations_tasks.html"><img src="../static/img/vacation.png"  width="150px" alt="Shoping"></a>
<a href="users_tasks.html"><img src="../static/img/users.png"  width="150px" alt="Users"></a>

<br><br><br><br><br>
{% include "footer.html" %}

</body>
</html>
