<!DOCTYPE html>
<html>
<head>
    <title>Vacations tasks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flatpickr.min.css') }}">
    <script src="../static/flatpickr"></script>
</head>
<body>


{% include "header.html" %}

<h1><img src="../static/img/vacation.png"  width="25px" alt="Vacations"> Vacations planner</h1>

    <form action="/add_todo_tasks" method="POST" onsubmit="return validateForm()">
        <input type="text" name="task" placeholder="New task" required>
        <select name="responsible" required>
            <option value="" disabled selected>Select a responsible user</option>
            {% for row in users_list %}
            <option value="{{ row.user[0] }}">{{ row.user[0] }}</option>
            {% endfor %}
        </select>
        <input type="text" id="planned_due_date" name="planned_due_date" placeholder="Due date" required>
        <input type="submit" value="Add task">
    </form>
<br>



<script>
    function validateForm() {
        var plannedDueDate = document.getElementById("planned_due_date").value;
        if (plannedDueDate === "") {
            alert("Please enter a deadline.");
            return false; // Prevents the form from being submitted if no deadline is entered.
        }
        return true;
    }

    flatpickr("#planned_due_date", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        time_24hr: true,
        locale: {
            firstDayOfWeek: 1 // Monday
        }
    });


document.addEventListener("DOMContentLoaded", function() {
    const rows = document.querySelectorAll(".clickable-row");
    rows.forEach(row => {
        row.addEventListener("click", () => {
            const href = row.getAttribute("data-href");
            window.location.href = href;
        });
    });
});
</script>

<h2>Planned Vacations:</h2>

<table id="table_to_do" class="tablesorter">
    <thead>
        <tr align="left">
            <th width="1%"><img src="../static/img/vacation.png"  width="15px" alt="Vacations"></th>
            <th>target_location:</th>
            <th>target_date</th>
            <th>possible_date</th>
            <th>person_responsible</th>
            <th>expenses</th>
            <th>note</th>
            <th>status</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in html_input[::-1] %}
            {% if not item.status == 'done_final' %}
                <tr>
                    <td class="clickable-row" data-href="/edit_todo_tasks/{{ item.id }}"><img src="../static/img/todo.ico"  width="15px" alt="To-Do"></td>
                    <td class="clickable-row" data-href="/edit_todo_tasks/{{ item.id }}">{{ item.target_location }}</td>
                    <td class="clickable-row" data-href="/edit_todo_tasks/{{ item.id }}">{{ item.target_date }}</td>
                    <td class="clickable-row" data-href="/edit_todo_tasks/{{ item.id }}">{{ item.possible_date }}</td>
                    <td class="clickable-row" data-href="/edit_todo_tasks/{{ item.id }}">{{ item.person_responsible }}</td>
                    <td class="clickable-row" data-href="/edit_todo_tasks/{{ item.id }}">{{ item.expenses }}</td>
                    <td class="clickable-row" data-href="/edit_todo_tasks/{{ item.id }}">{{ item.note }}</td>
                    <td class="clickable-row" data-href="/edit_todo_tasks/{{ item.id }}">{{ item.status }}</td>

                    <td>
                        <form class="delete-form" action="/delete_todo" method="POST" onsubmit="return confirm('Are you sure you want to delete: {{ item.task }} ?\nThis is a permanent deletion from the database!');" style="display: inline;">
                            <input type="hidden" name="id" value="{{ item.id }}">
                            <input type="submit" value="Delete" class="delete-button">
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>


</body>
</html>